#macro(includeReportHeaderTag)

<thead>
  <tr class="header dont-sort">
    #if ($parallel_testing)
      <th colspan="1"></th>
    #else
      <th></th>
    #end
    <th colspan="4">Scenarios</th>
    <th colspan="2">Tag Stats</th>
  </tr>
  <tr>
    <th>Tag</th>
    #if ($parallel_testing)
      <th>Qualifier</th>
    #end

    <th class="passed">Passed</th>
    <th class="failed">Failed</th>
    <th class="skipped">Skipped</th>
    <th class="total">Total</th>

    <th>Duration</th>
    <th>Status</th>
  </tr>
</thead>

#end
